extends layout

block content

  script(src='/vendor/jquery/jquery.js')
  script(src='/vendor/handlebars/handlebars.js')
  script(src='/vendor/ember/ember.js')
  script(src='/vendor/ember-data/ember-data.js')
  script(src='/vendor/loader.js')
  script(src='/vendor/ember-resolver/dist/ember-resolver.js')
  script(src='/vendor/ic-ajax/main.js')
  script(src='/vendor/bootstrap/dist/js/bootstrap.js')
  script(src='/assets/app.js')
  script(src='/assets/templates.js')
  script()
    window.App = require('appkit/app')["default"].create();
