    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>CERCLE Stack Skeleton Project</h2>
                <p>You can use this project to get a quick start on an end to end web application
                    written in CoffeeScript.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="well front-ad">
                <p>CERCLE utilizes the following Technologies</p>
                <ul>
                    <li><span class="badge">C</span> CoffeeScript</li>
                    <li><span class="badge">E</span> Express</li>
                    <li><span class="badge">R</span> Redis</li>
                    <li><span class="badge">C</span> CouchDB</li>
                    <li><span class="badge">L</span> Linux</li>
                    <li><span class="badge">E</span> Ember</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="well front-ad">
                <p>CERCLE includes the following features</p>
                <ul>
                    <li>Browser-side MVC Single Page Application</li>
                    <li>User login with Mozilla Persona</li>
                    <li>JSON document storage with CouchDB</li>
                    <li>Javascript minification with Grunt</li>
                    <li>Thorough testing with Jasmine</li>
                </ul>
            </div>
        </div>
    </div>